html { background: DeepPink; color: WhiteSmoke }
code { background: HotPink }
:link, :visited { color: Indigo }

* { box-sizing: border-box; }
html { font: 1.125em/2 sans-serif; }
body { width: 100%; margin: auto; padding: 1em; }
a { font-weight: bold; }

.huge {
  font-size: 4em;
  line-height: 1;
  text-transform: uppercase;
}

.display--block {
  display: block;
}

code {
  font-size: 1.25em;
  padding: .125em .25em;
  border-radius: .5em;
  font-weight: bold;
}
